#container {
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  background-color: #1D1A1D;
  gap: 10px;
  display: flex;
}

#sidebar {
  flex: 1 1 27.5%;
  overflow: auto;
  min-width: 200px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  background-color: #151215;
  border-radius: 12px;
}

#conv-list {
  width: 95%;
  padding: 10px;
}

#main {
  flex: 1 1 72.5%;
  background-color: #151215;
}

#main, app-chat-window {
  border-radius: 12px;
}
